<!-- Header Section Begins -->
<header id="header" class="header-block" ng-class="{'fixed': mainviewData.headerview}">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-menu">
      <div class="menuBar scrollbtn">
        <!-- Navigation Menu Begins -->
        <nav class="navbar navbar-default navbar-static-top">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".home-menu" ng-click="toggleMenu()">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Site Logo Begins -->
            <div class="logo">
              <a class="navbar-brand" href="/"><img src="images/logo.png" alt="logo" /></a>
            </div>
            <!-- Site Logo Ends -->
          </div>
          <div class="home-menu">
            <div class="collapse navbar-collapse" id="main-menu">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li class="has-children"><a href="javascript:void(0)">CATEGORIES</a>
                  <ul class="sub-menu">
                    <li ng-repeat="category in categories" ng-click="goToCategories(category.id)"> <a href="#">{{category.name||'no name'}}</a> </li>
                    <!--   <li> <a href="#">Category #2</a> </li>
                          <li> <a href="#">Category #3</a> </li>
                          <li> <a href="#">Category #4</a> </li>
                          <li> <a href="#">Category #5</a> </li> -->
                  </ul>
                </li>
                <!--   <li class="has-children"><a href="javascript:void(0)">Health &amp; You</a>
                        <ul class="sub-menu">
                          <li class="has-children"> <a href="javascript:void(0)">For the Veggies</a>
                            <ul class="sub-menu">
                              <li> <a href="#">Example 1</a> </li>
                              <li> <a href="#">Example 2</a> </li>
                            </ul>
                          </li>
                          <li class="has-children"> <a href="javascript:void(0)">For the Non-Veggies</a>
                            <ul class="sub-menu">
                              <li> <a href="#">Example 1</a> </li>
                              <li> <a href="#">Example 2</a> </li>
                              <li> <a href="#">Example 3</a> </li>
                              <li> <a href="#">Example 4</a> </li>
                            </ul>
                          </li>
                          <li class="has-children"> <a href="javascript:void(0)">Fruit Lovers</a>
                            <ul class="sub-menu">
                              <li> <a href="#">Example 1</a> </li>
                              <li> <a href="#">Example 2</a> </li>
                              <li> <a href="#">Example 3</a> </li>
                            </ul>
                          </li>
                        </ul>
                      </li> -->
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
            <!-- Search Form Begins -->
            <!--  <div class="search-form">
                      <form>
                        <div class="form-group">
                          <div class="btn-form"></div>
                          <input type="text" class="form-control" placeholder="Search">
                        </div>
                      </form>
                    </div> -->
            <!-- Search Form Ends -->
          </div>
        </nav>
        <!-- Navigation Menu Ends -->
      </div>
    </div>
  </div>
</header>
<!-- Header Section Ends -->
