<div class="content-box no-sidebar pad-top-big pad-bottom-big pr" style="padding-top:75px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="aboutus-img">
          <img src="images/about.jpg" alt="images" />
        </div>
      </div>
      <div class="col-lg-8 col-md-8 ol-sm-8 col-xs-12">
        <div class="aboutus-info">
          <h2>About</h2>
          <h5>A healthy diet is one that helps to maintain or improve overall health.</h5>
          <h3>Vision</h3>
          <p>“RightMyDiet's vision is to continuously make a positive difference in people's lives through diet and nutrition based informative interventions.”</p>
          <h3>Mission Statement</h3>
          <p>“Enable anyone seeking help with her / his diet plans, to easily find and access the required and correct information from competent sources, to be able to live healthy.”</p>
          <h3>Objective</h3>
          <ul>
            <li>Provide curated and accurate custom-diet plans for individuals, with advice from authorized and competent personnel.</li>
            <li>Be the bridge between dietitians / nutritionists and health-seeking individuals, in order to facilitate seamless information exchange both ways.</li>
            <li>Aggregate diet-based information from disparate and reliable sources, and make it easily accessible to the general public.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
