<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
  <div class="sidebar pad-bottom-small">
    <!-- Search Form Widget Begins -->
    <div class="widget widget_search">
      <h2 class="widget-title">Search</h2>
      <form>
        <input type="text" ng-model="formData.searchString" ng-keypress="search($event,3,0,true)"> {{formData.searchString}}
        <button type="button" class="search-submit" ng-if="!issearch" ng-click="search()"><i class="fa fa-search"></i></button>
        <button type="button" class="search-submit" ng-if="issearch" ng-click="cancel()"><i class="fa fa-times-circle-o"></i></button>
      </form>
    </div>
    <!-- Search Form Widget Ends -->
    <!-- About Widget Begins -->
    <div class="widget widget_about">
      <h2 class="widget-title">About Me</h2>
      <div class="about-box">
        <div class="about-img"> <img ng-src="" alt="images"> </div>
        <div class="about-info">
          <p>Suffered alteration in some passage of Lorem.</p>
          <ul class="social">
            <li>
              <a href="javascript:void(0)"> <i class="fa fa-facebook"></i> </a>
            </li>
            <li>
              <a href="javascript:void(0)"> <i class="fa fa-twitter"></i> </a>
            </li>
            <li>
              <a href="javascript:void(0)"> <i class="fa fa-google-plus"></i> </a>
            </li>
            <li>
              <a href="javascript:void(0)"> <i class="fa fa-linkedin"></i> </a>
            </li>
            <li>
              <a href="javascript:void(0)"> <i class="fa fa-youtube"></i> </a>
            </li>
          </ul>
          <a href="javascript:void(0)" class="continue-read">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <!-- About Widget Ends -->
    <!-- Recent Entry Widget Begins -->
    <div class="widget widget_recent_entries">
      <h2 class="widget-title">Recent Posts</h2>
      <div class="recent-box" ng-repeat="post in recentPosts">
        <div class="recent-img"> <img ng-src="{{post.images[0]}}" alt="images"> </div>
        <div class="about-info recent-info">
          <h4> <a href="javascript:void(0)" ui-sref="main.blogDetails({id:post.id})">{{post.title}}</a> </h4>
          <h5>{{post.createdAt|date:"MMMM dd, y"}}</h5>
        </div>
      </div>
    </div>
    <!-- Recent Entry Widget Ends -->
    <!-- Categories Widget Begins -->
    <div class="widget widget_categories">
      <h2 class="widget-title">Categories</h2>
      <ul>
        <li ng-repeat="category in categories" ng-click="goToCategories(category.id)"> <a href="javascript:void(0)">{{category.name||'no name'}}</a> </li>
        <!--  <li> <a href="javascript:void(0)">Category #2</a> </li>
        <li> <a href="javascript:void(0)">Category #3</a> </li>
        <li> <a href="javascript:void(0)">Category #4</a> </li> -->
      </ul>
    </div>
    <!-- Categories Widget Ends -->
    <!-- Ad Banner Widget Begins -->
    <!--  <div class="widget widget_ad_banner">
      <a href="javascript:void(0)" target="_blank"> <img src="images/452x219.png" alt="images"> </a>
    </div> -->
    <!-- Ad Banner Widget Ends -->
    <!-- Tag Cloud Widget Begins -->
    <div class="widget widget_tag_cloud">
      <h2 class="widget-title">Popular Tag</h2>
      <div class="popular-box">
        <ul>
          <li ng-repeat="tag in tags |  limitTo: 4" ng-click="getTagArticles(tag.name)"> <a href="javascript:void(0)">{{tag.name||'no name'}}</a> </li>
        </ul>
      </div>
      <a href="javascript:void(0)" class="btn" ng-click="goToTags()"> Read More  <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
    </div>
    <!-- Tag Cloud Widget Ends -->
  </div>
</div>
