<div class="container-fluid">
  <div ui-view>
    <!-- <div style="height:595px;background-image:url('../images/17.jpg');background-attachment:fixed;background-size: cover;background-repeat: no-repeat;background-size: 100% 100%;"></div> -->
    <section id="banner" class="banner banner-static parallax-fix parallaximg">
      <div class="container pr">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="banner-text">
              <div class="banner-cell">
                <div class="banner-sidebar">
                  <h2> Available..! </h2>
                  <h5> Majity have suffered an e injected  </h5>
                </div>
                <h1> Believable <span>If you....</span> </h1>
                <a href="javascript:void(0)" class="btn"> Read More  <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="container">
  <div ui-view="grid" style="padding-top:5%"></div>
  <div ui-view="right"></div>
</div>
