<div class="container-fluid">
  <div ui-view>
    <section id="banner" class="banner banner-static parallax-fix parallaximg" ng-style="backgroundimg" ng-if="!issearch">
      <div class="container pr">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="banner-text">
              <div class="banner-cell">
                <!-- <div class="banner-sidebar" style="padding-top: 15px;"> -->
                  <!-- <h2> Recommended Article..! </h2> -->
                  <!-- <h5> Majity have suffered an e injected  </h5> -->
                <!-- </div> -->
                <h1><span>{{coverblog.title}}</span> </h1>
                <a href="javascript:void(0)" class="btn" ng-click="loadBlogDetails(coverblog)">  More  <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="container" id="gridcontainer" style="padding-top:45px;">
  <div ui-view="grid"></div>
  <div ui-view="right"></div>
</div>
