<div class="content-box contact-page no-sidebar pad-bottom-big pr">
<div class="container" style="padding-top:35px;">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!-- Contact Form Section Begins -->
      <div class="contact-form pad-top-big pad-bottom-big">
        <h2> Reach Out to Us </h2>
        <form>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-pad-left">
            <div class="form-group">
              <input type="text" placeholder="Name" />
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group">
              <input type="email" placeholder="Email" />
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-pad-right">
            <div class="form-group">
              <input type="text" placeholder="Phone" />
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="form-group">
              <textarea placeholder="Comment"></textarea>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="form-group contactus-btn">
              <a href="javascript:void(0)" class="cntct-btn"> Send </a>
            </div>
          </div>
        </form>
      </div>
      <!-- Contact Form Section Ends -->
    </div>
    <!-- Contact Address Section Begins -->
    <div class="contact-address">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cntct-box">
        <h3> Address </h3>
        <div class="address-box">
          <h4> <i class="fa fa-map-marker"></i> 251 Reasonable The generated Lorem from, words There. </h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cntct-box">
        <h3> Call us on </h3>
        <div class="callus-box">
          <h4> <i class="fa fa-phone"></i> + 123-456-7890 </h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cntct-box">
        <h3> Email </h3>
        <div class="emailus-box">
          <h4> <i class="fa fa-paper-plane-o"></i> <a href="javascript:void(0)">support@makemydiet.com</a> </h4>
        </div>
      </div>
    </div>
    <!-- Contact Address Section Ends -->
  </div>
</div>
</div>
