<div class="container" style="padding-top:30px;">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!-- Contact Form Section Begins -->
      <div class="contact-form pad-top-big pad-bottom-big">
        <h2> Book Appointment </h2>
        <form name="myForm" id="myForm" role="form">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad-left">
            <div class="form-group">
              <input type="text" placeholder="Name" ng-model="name" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad-right">
            <div class="form-group">
              <input required type="number" placeholder="Age" ng-model="age" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad-left">
            <div class="form-group">
              <select required="" ng-model="gender" style="">
                <option value="" disabled="" selected="selected">Choose gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad-right">
            <div class="form-group">
              <input type="text" placeholder="Height" ng-model="height" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad-left">
            <div class="form-group">
              <input type="text" placeholder="Weight" ng-model="weight" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad-right">
            <div class="form-group">
              <select required="" id="indian" ng-model="indian" style="">
                <option value="" disabled="" selected="selected">Select your region</option>
                <option value="South">South</option>
                <option value="North">North</option>
                <option value="South">East</option>
                <option value="North">West</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad-left">
            <div class="form-group">
              <select required="" ng-model="foodType" style="">
                <option value="" disabled="" selected="selected">Choose food type</option>
                <option value="veg">Vegeterian</option>
                <option value="nonveg">Non-Vegeterian</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad-right">
            <div class="form-group">
              <select required=""  ng-model="currentAilments" style="">
                <option value="" disabled="" selected="selected">Any ailments</option>
                <option value='true'>Yes</option>
                <option value='false'>No</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad-left">
            <div class="form-group">
              <input required type="email" placeholder="Email" ng-model="email" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad-right">
            <div class="form-group">
              <select required="" ng-model="doctor" style="">
                <option value="" disabled="" selected="selected">Choose doctor</option>
                <option value="doctor1">Doctor 1</option>
                <option value="doctor2">Doctor 2</option>
                <option value="doctor3">Doctor 3</option>
                <option value="doctor4">Doctor 4</option>
                <option value="doctor5">Doctor 5</option>
              </select>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="form-group">
              <textarea placeholder="Comment" ng-model="comment"></textarea>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="form-group contactus-btn">
              <button class="cntct-btn" ng-click="bookAppointment($event)" ng-disabled="myForm.$invalid"> Book Appointment </button>
            </div>
          </div>
        </form>
      </div>
      <!-- Contact Form Section Ends -->
    </div>
  </div>
</div>
