<div class="container" style="padding-top:75px;">
  <h2 class="align-center"> Book Appointment </h2>
  <form class="form-horizontal diet-form" name="myForm" id="myForm" role="form">
    <div class="form-group">
      <label for="name" class="col-sm-3 control-label">Name</label>
      <div class="col-sm-6">
        <input required type="text" id="name" class="form-control" ng-model="name" />
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="form-group">
      <label for="age" class="col-sm-3 control-label">Age</label>
      <div class="col-sm-6">
        <input required type="number" id="age" class="form-control" ng-model="age" />
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="form-group">
      <label for="gender" class="col-sm-3 control-label">Gender</label>
      <div class="col-sm-6">
        <switch id="isMale" name="isMale" ng-model="isMale" class="green wider" on="Male" off="Female"></switch>
        <!-- <br>
        <div class="radio col-sm-3">
          <label>
            <input required value="male" type="radio" name="gender" ng-model="gender" />Male</label>
        </div>
        <div class="radio col-sm-3">
          <label>
            <input required value="female" type="radio" name="gender" ng-model="gender" />Female</label>
        </div> -->
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="form-group">
      <label for="height" class="col-sm-3 control-label">Height</label>
      <div class="col-sm-6">
        <input required type="text" id="height" class="form-control" ng-model="height" />
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="form-group">
      <label for="weight" class="col-sm-3 control-label">Weight</label>
      <div class="col-sm-6">
        <input required type="text" id="weight" class="form-control" ng-model="weight" />
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="form-group">
      <label for="indian" class="col-sm-3 control-label">Indian</label>
      <div class="col-sm-2">
        <select required id="indian" class="form-control" ng-model="indian">
          <option value="" disabled selected>Select your option</option>
          <option value="South">South</option>
          <option value="North">North</option>
          <option value="South">East</option>
          <option value="North">West</option>
        </select>
      </div>
      <div class="col-sm-7"></div>
    </div>
    <div class="form-group">
      <label for="foodType" class="col-sm-3 control-label">Food type</label>
      <div class="col-sm-6">
        <switch id="isNv" name="isNv" ng-model="isNv" class="green wider" on="Non-Veg" off="Veg"></switch>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="form-group">
      <label for="currentAilments" class="col-sm-3 control-label">Current Ailments</label>
      <div class="col-sm-6">
        <switch id="currentAilments" name="currentAilments" ng-model="currentAilments" class="green wide" ng-change="changeCallback" on="Yes" off="No"></switch>
        <!--  <div class="radio col-sm-3">
          <label>
            <input required value="yes" type="radio" name="currentAilments" ng-model="currentAilments" />Yes</label>
        </div>
        <div class="radio col-sm-3">
          <label>
            <input required value="no" type="radio" name="currentAilments" ng-model="currentAilments" />No</label>
        </div> -->
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="form-group" ng-if="isDetail">
      <label for="duration" class="col-sm-3 control-label">Since when and what</label>
      <div class="col-sm-6">
        <textarea required class="form-control" id="duration" rows="3" ng-model="$parent.duration"></textarea>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-3 control-label">Email</label>
      <div class="col-sm-6">
        <input required type="email" id="email" class="form-control" ng-model="email" />
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="form-group">
      <label for="doctor" class="col-sm-3 control-label">Choose doctor</label>
      <div class="col-sm-2">
        <select required id="doctor" class="form-control" ng-model="doctor">
          <option value="" disabled selected>Select your option</option>
          <option value="doctorA">Doctor A</option>
          <option value="doctorB">Doctor B</option>
          <option value="doctorC">Doctor C</option>
          <option value="doctorD">Doctor D</option>
        </select>
      </div>
      <div class="col-sm-7"></div>
    </div>
    <div class="form-group" style="text-align: center;">
      <button class="btn btn-primary submit" ng-click="bookAppointment()" ng-disabled="myForm.$invalid">Submit</button>
    </div>
  </form>
</div>
