<footer id="footer" class="footer pr pad-bottom-small text-align-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a href="javascript:void(0)" class="footer-logo"><img src="images/logo-footer.png" alt="images"></a>
        <!-- Subscribe Form Begins -->
        <div class="subscibe-box">
          <h4>Get our latest article delivered to your email box</h4>
          <form class="subscribe-form" name="subscribeForm">
            <input type="email" placeholder="Enter your email here" ng-model="usersubscrip" name="userMail" ng-pattern = "/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
            <a href="javascript:void(0)" class="subscribe-btn" ng-click="usersubscribe(usersubscrip);" ng-disabled="subscribeForm.$invalid"><i class="fa fa-location-arrow" aria-hidden="true"></i></a>
             <div class="error-container" ng-show="subscribeForm.userMail.$dirty && subscribeForm.userMail.$invalid">
             <small class="errorEmail" ng-show="subscribeForm.userMail.$error.required">
              Your email is required.
             </small>
             <small class="errorEmail" ng-show="subscribeForm.userMail.$error.email">
               Please input a valid email.
              </small>
              </div>
          </form>
        </div>
        <!-- Subscribe Form Ends -->
        <!-- Footer Links Begins -->
        <ul class="footer-links">
          <li> <a href="javascript:void(0)" ui-sref="main.blog({page:1})">Home</a> </li>
          <li> <a href="javascript:void(0)" ui-sref="main.about">About</a> </li>
          <li> <a href="javascript:void(0)">Categories</a> </li>
          <li> <a href="javascript:void(0)" ui-sref="main.doctors">Doctors</a> </li>
          <li> <a href="javascript:void(0)" ui-sref="main.contact">Contact Us</a> </li>
        </ul>
        <!-- Footer Links Ends -->
        <!-- Social Media Links Begins -->
        <ul class="social">
          <li>
            <a socialshare socialshare-provider="facebook" socialshare-url="https://en.wikipedia.org/wiki/The_Big_Bang_Theory"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a socialshare socialshare-provider="twitter" socialshare-url="https://en.wikipedia.org/wiki/The_Big_Bang_Theory"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a socialshare socialshare-provider="google" socialshare-url="https://en.wikipedia.org/wiki/The_Big_Bang_Theory"><i class="fa fa-google-plus"></i></a>
          </li>
          <li>
            <a socialshare socialshare-provider="linkedin" socialshare-url="https://en.wikipedia.org/wiki/The_Big_Bang_Theory"><i class="fa fa-linkedin"></i></a>
          </li>
          <li>
            <a href="javascript:void(0)"><i class="fa fa-youtube"></i></a>
          </li>
        </ul>
        <!-- Social Media Links Ends -->
      </div>
    </div>
  </div>
</footer>
<div id="copyright" class="copyright pr text-align-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h5>© 2017 Right My Diet. All Rights Rerverd</h5>
      </div>
    </div>
  </div>
</div>
<a href="javascript:void(0);" class="back-to-top cd-fade-out" ng-class="{'cd-is-visible': mainviewData.scrollview}" ng-click="scrolltoTop();"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a>
