<footer id="footer" class="footer pr pad-bottom-small text-align-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a href="javascript:void(0)" class="footer-logo"><img src="images/logo-footer.png" alt="images"></a>
        <!-- Subscribe Form Begins -->
        <div class="subscibe-box">
          <h4>Get our latest article delivered to your email box</h4>
          <form class="subscribe-form">
            <input type="text" placeholder="Enter your email here">
            <a href="javascript:void(0)" class="subscribe-btn"><i class="fa fa-location-arrow" aria-hidden="true"></i></a>
          </form>
        </div>
        <!-- Subscribe Form Ends -->
        <!-- Footer Links Begins -->
        <ul class="footer-links">
          <li> <a href="javascript:void(0)">Home</a> </li>
          <li> <a href="javascript:void(0)">About</a> </li>
          <li> <a href="javascript:void(0)">Categories</a> </li>
          <li> <a href="javascript:void(0)">Health &amp; You</a> </li>
          <li> <a href="javascript:void(0)">Contact Us</a> </li>
        </ul>
        <!-- Footer Links Ends -->
        <!-- Social Media Links Begins -->
        <ul class="social">
          <li>
            <a socialshare socialshare-provider="facebook" socialshare-url="https://en.wikipedia.org/wiki/The_Big_Bang_Theory"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a socialshare socialshare-provider="twitter" socialshare-url="https://en.wikipedia.org/wiki/The_Big_Bang_Theory"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a socialshare socialshare-provider="google" socialshare-url="https://en.wikipedia.org/wiki/The_Big_Bang_Theory"><i class="fa fa-google-plus"></i></a>
          </li>
          <li>
            <a socialshare socialshare-provider="linkedin" socialshare-url="https://en.wikipedia.org/wiki/The_Big_Bang_Theory"><i class="fa fa-linkedin"></i></a>
          </li>
          <li>
            <a href="javascript:void(0)"><i class="fa fa-youtube"></i></a>
          </li>
        </ul>
        <!-- Social Media Links Ends -->
      </div>
    </div>
  </div>
</footer>
<div id="copyright" class="copyright pr text-align-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h5>© 2017 Right My Diet. All Rights Rerverd</h5>
      </div>
    </div>
  </div>
</div>
<a href="javascript:void(0);" class="back-to-top cd-is-visible cd-fade-out"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a>
