<div class="container-fluid">
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="float:left;">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar toggleLine"></span>
        <span class="icon-bar toggleLine"></span>
        <span class="icon-bar toggleLine"></span>
      </button>
      <a class="hidden-xs animated flip">Right My Diet</a>
      <a class="visible-xs animated flip">Right My Diet</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <a ui-sref="main.home" class="hidden-xs">Home</a>
          <a ui-sref="main.home" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">Home</a>
        </li>
        <li>
          <a ui-sref="main.about" class="hidden-xs">About</a>
          <a ui-sref="main.about" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">About</a>
        </li>
        <li>
          <a ui-sref="main.blog" class="hidden-xs">Blog</a>
          <a ui-sref="main.blog" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">Blog</a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </nav>
</div>
