<div id="okPopUp" class="popup-main" style="display: none;">
    <div class="mask"> </div>
    <div class="popup"> 
      <header class="text-center"> 
			{{"Right my diet" }} <span class="pop-cls" ng-click="closepopup()">x</span> </header>
      <section class="text-center"> 
      			{{ message || "Oops Something is wrong"}}
        <div class="pop-footer text-center">
            <button class="btn btn-primary" ng-click="closepopup()"> OK  </button>
        </div>
      </section>    
    </div>
  </div>