<div class="container" style="padding-top:75px;">
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <h3 ng-if="noResults" class="align-center">No articles were found for the tag "<b>{{formData.searchString}}</b>"</h3>
    <h3 ng-if="!noResults&&issearch" class="align-center">Results for the tag "<b>{{formData.searchString}}</b>"</h3>
    <ul angular-grid="tagArticlesData" ag-grid-width="300" ag-gutter-size="12" ag-id="tagArticles" ag-refresh-on-img-load="true">
      <li dir-paginate="pic in tagArticlesData | itemsPerPage: itemsPerPage" class="grid img-responsive" current-page="pagination.currentPage" total-items=totalItems>
        <img ng-src="{{pic.images[0]}}" src="images/16.jpg" class="grid-img img-responsive" style="margin-bottom:20px;" />
        <h2><a style="color:black;">{{pic.title}}</a></h2>
        <ul class="below-blog-list">
          <li>
            <a href="javascript:void(0)" class="no-pointer"> <i class="fa fa-user-o" aria-hidden="true"></i> Dany Saha </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="no-pointer"> <i class="fa fa-calendar-o" aria-hidden="true"></i> {{pic.createdAt|date: "MMMM d, y"}} </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="no-pointer"> <i class="fa fa-comment-o" aria-hidden="true"></i> {{pic.comments.length}} Comment </a>
          </li>
        </ul>
        <p ng-bind-html="pic.description" style="height:110px;overflow:hidden;"></p>
        <div class="bottom-blog">
          <a ng-click="loadBlogDetails(pic)" class="continue-read"> Continue Reading <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
          <ul class="social">
            <li>
              <a ng-click="getIdForShare(pic)" socialshare socialshare-provider="facebook" socialshare-url={{shareUrl}}> <i class="fa fa-facebook"></i> </a>
            </li>
            <li>
              <a ng-click="getIdForShare(pic)" socialshare socialshare-provider="twitter" socialshare-url={{shareUrl}}> <i class="fa fa-twitter"></i> </a>
            </li>
            <li>
              <a ng-click="getIdForShare(pic)" socialshare socialshare-provider="google" socialshare-url={{shareUrl}}> <i class="fa fa-google-plus"></i> </a>
            </li>
            <li>
              <a ng-click="getIdForShare(pic)" socialshare socialshare-provider="linkedin" socialshare-url={{shareUrl}}> <i class="fa fa-linkedin"></i> </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" auto-hide="false"></dir-pagination-controls>
  </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
  <div class="sidebar pad-bottom-small">
    <!-- Search Form Widget Begins -->
    <div class="widget widget_search">
      <h2 class="widget-title">Tags Search</h2>
      <form>
        <input type="text" ng-model="formData.searchString" ng-keydown="$event.keyCode === 13 && search('','',true)"> {{formData.searchString}}
        <button type="button" class="search-submit" ng-if="!issearch" ng-click="search('','',true)"><i class="fa fa-search"></i></button>
        <button type="button" class="search-submit" ng-if="issearch" ng-click="cancel()"><i class="fa fa-times-circle-o"></i></button>
      </form>
    </div>
    <!-- Search Form Widget Ends -->
    <!-- About Widget Begins -->
    <div class="widget widget_about">
      <h2 class="widget-title">About Me</h2>
      <div class="about-box">
        <div class="about-img"> <img src="images/doctor1.png" alt="images"> </div>
        <div class="about-info">
          <p>Suffered alteration in some passage of Lorem.</p>
          <ul class="social">
            <li>
              <a href="javascript:void(0)"> <i class="fa fa-facebook"></i> </a>
            </li>
            <li>
              <a href="javascript:void(0)"> <i class="fa fa-twitter"></i> </a>
            </li>
            <li>
              <a href="javascript:void(0)"> <i class="fa fa-google-plus"></i> </a>
            </li>
            <li>
              <a href="javascript:void(0)"> <i class="fa fa-linkedin"></i> </a>
            </li>
            <li>
              <a href="javascript:void(0)"> <i class="fa fa-youtube"></i> </a>
            </li>
          </ul>
          <a href="javascript:void(0)" ui-sref="main.about" class="continue-read">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <!-- About Widget Ends -->
    <!-- Recent Entry Widget Begins -->
    <div class="widget widget_recent_entries">
      <h2 class="widget-title">Recent Posts</h2>
      <div class="recent-box" ng-repeat="post in recentPosts">
        <div class="recent-img"> <img ng-src="{{post.images[0]}}" src="images/16.jpg" alt="images"> </div>
        <div class="about-info recent-info">
          <h4> <a href="javascript:void(0)" ui-sref="main.blogDetails({id:post.id})">{{post.title}}</a> </h4>
          <h5>{{post.createdAt|date:"MMMM dd, y"}}</h5>
        </div>
      </div>
    </div>
    <!-- Recent Entry Widget Ends -->
    <!-- Categories Widget Begins -->
    <div class="widget widget_categories">
      <h2 class="widget-title">Categories</h2>
      <ul>
        <li ng-repeat="category in categories" ng-click="goToCategories(category.id)"> <a href="javascript:void(0)">{{category.name||'no name'}}</a> </li>
        <!--  <li> <a href="javascript:void(0)">Category #2</a> </li>
        <li> <a href="javascript:void(0)">Category #3</a> </li>
        <li> <a href="javascript:void(0)">Category #4</a> </li> -->
      </ul>
    </div>
    <!-- Categories Widget Ends -->
    <!-- Ad Banner Widget Begins -->
    <!--  <div class="widget widget_ad_banner">
      <a href="javascript:void(0)" target="_blank"> <img src="images/452x219.png" alt="images"> </a>
    </div> -->
    <!-- Ad Banner Widget Ends -->
    <!-- Tag Cloud Widget Begins -->
    <div class="widget widget_tag_cloud">
      <h2 class="widget-title">Popular Tag</h2>
      <div class="popular-box">
        <ul>
          <li ng-repeat="tag in tags |  limitTo: 4" ng-click="getTagArticles(tag.name)"> <a href="javascript:void(0)">{{tag.name||'no name'}}</a> </li>
        </ul>
      </div>
      <a href="javascript:void(0)" class="btn" ng-click="goToTags()"> Read More  <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
    </div>
    <!-- Tag Cloud Widget Ends -->
  </div>
</div>
</div>
